// place your custom styles here
.vp-blog-hero {
  position: relative !important;
  height: 100vh !important;
}

.vp-blog-hero-info {
  position: absolute !important;
  top: 30% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 100% !important;
  z-index: 10 !important;
}

.vp-blog-hero-title {
  color: rgb(255, 255, 255) !important;
  font-size: 2.5rem !important;
  text-align: center !important;
}

.vp-blog-hero-description {
  color: rgb(255, 255, 255) !important;
  font-size: 1.2rem !important;
  text-align: center !important;
  font-family: "SimSun", sans-serif !important;
  margin-top: 1rem !important;
}

.text-right { 
  text-align: right !important;
}
